<h3 class="title">Categories</h3>

<button [routerLink]="['/Admin/AddCategory']" class="btn btn-primary pull-right">Add Category</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>Display Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of categories | paginate: {itemsPerPage: 10, currentPage:page};">
            <td>{{item.Id}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Active ? 'Yes' : 'No'}}</td>
            <td>{{item.DisplayOrder}}</td>
            <td><a [routerLink]="['/Admin/EditCategory', item.Id]">Edit</a></td>
        </tr>
    </tbody>
</table>
<pagination-controls class="pagination pull-right curser-pointer" (pageChange)="page = $event"
                     maxSize="5"
                     directionLinks="true"
                     autoHide="true">
</pagination-controls>
