<p-growl [(value)]="msgs"></p-growl>
<span><a [routerLink]="['/Admin/Category']"><i class="fa fa-arrow-circle-left"></i> Back to list</a></span>
<h3>{{action}} Category</h3>

<div class="clearfix"></div>
<div class="jumbotron">
    <form *ngIf="categoryFrm" class="form-horizontal" [formGroup]="categoryFrm" (ngSubmit)="onSubmit(categoryFrm.value)">

        <input type="hidden" [formControl]="categoryFrm.controls['Id']" />

        <div class="form-group" [ngClass]="{'has-error':!categoryFrm.controls['Name'].valid && categoryFrm.controls['Name'].touched}">
            <label>Name</label>
            <input class="form-control" type="text" placeholder="Category Name" [formControl]="categoryFrm.controls['Name']" required>
        </div>
        <div class="form-group" [ngClass]="{'has-error':!categoryFrm.controls['Description'].valid && categoryFrm.controls['Description'].touched}">
            <label>Description</label>
            <!--<textarea class="form-control" placeholder="Description" [formControl]="categoryFrm.controls['Description']" required></textarea>-->
            <p-editor [formControl]="categoryFrm.controls['Description']" [style]="{'height':'320px', 'background':'white'}">
            </p-editor>
        </div>
        <div class="form-group">
            <label>Parent Category</label><div class="clearfix"></div>
            <p-dropdown [options]="categories" [formControl]="categoryFrm.controls['SelectedParentCategory']" [filter]="true" optionLabel="Name"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="IncludeInNavigation">Add to navigation</label>
            <input type="checkbox" value="hiking" name="IncludeInNavigation" [formControl]="categoryFrm.controls['IncludeInNavigation']">
        </div>
        <div class="form-group">
            <label>Active</label>
            <input type="checkbox" value="swimming" name="Active" [formControl]="categoryFrm.controls['Active']">
        </div>
        <div class="form-group">
            <label>Delete</label>
            <input type="checkbox" value="running" name="Deleted" [formControl]="categoryFrm.controls['Deleted']">
        </div>
        <div class="form-group">
            <label>Display Order</label>
            <input class="form-control" type="text" placeholder="Display Order" [formControl]="categoryFrm.controls['DisplayOrder']">
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!categoryFrm.valid" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>