<p-growl [(value)]="msgs"></p-growl>
<div class="col-md-6">
    <h3>{{action}} Category</h3>
</div>
<div class="col-md-6">
    <span><a [routerLink]="['/Admin/Category']">Back to list</a></span>
</div>


<div class="jumbotron">
    <form *ngIf="categoryFrm" [formGroup]="categoryFrm" (ngSubmit)="onSubmit(categoryFrm.value)">

        <input type="hidden" [formControl]="categoryFrm.controls['Id']" />

        <div class="form-group" [ngClass]="{'has-error':!categoryFrm.controls['Name'].valid && categoryFrm.controls['Name'].touched}">
            <label>Name</label>
            <input class="form-control" type="text" placeholder="Category Name" [formControl]="categoryFrm.controls['Name']" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" placeholder="Description" [formControl]="categoryFrm.controls['Description']"></textarea>
        </div>
        <div class="form-group">
            <label>Parent Category</label>
            <input class="form-control" type="text" placeholder="John" [formControl]="categoryFrm.controls['ParentCategoryId']">
        </div>
        <div class="form-group">
            <label for="IncludeInNavigation">Add to navigation</label>
            <input type="checkbox" value="hiking" name="IncludeInNavigation" [formControl]="categoryFrm.controls['IncludeInNavigation']">
        </div>
        <div class="form-group">
            <label>Active</label>
            <input type="checkbox" value="swimming" name="Active" [formControl]="categoryFrm.controls['Active']">
        </div>
        <div class="form-group">
            <label>Delete</label>
            <input type="checkbox" value="running" name="Deleted" [formControl]="categoryFrm.controls['Deleted']">
        </div>
        <div class="form-group">
            <label>Display Order</label>
            <input class="form-control" type="text" placeholder="Display Order" [formControl]="categoryFrm.controls['DisplayOrder']">
        </div>
        <div class="form-group">
            <button type="submit" [disabled]="!categoryFrm.valid" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>